<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('meta') %>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>404 | The Grapey Dictionary</title>
    <link rel="stylesheet" href="/style.css">
    <script src="/script.js" defer></script>
  </head>
  <body>
    <%- include('header') %>
    <main>
      <h1>404</h1>
      <h2>The requested word does not exist.</h2>
      <img src="https://cdn.glitch.com/8e233ac9-cef5-4cee-bc7a-7d269212af59%2Fawe.png?v=1623194435447">
    </main>
  </body>
</html>