<header>
  <a href="/">
    Grapey Dictionary
  </a>
  <form>
    <input
      name="word"
      type="text"
      required
      placeholder="Search for a word..."
           autofocus
           autocomplete="off"
    />
  </form>
</header>